body{

	background-color: #107ba7;
}

#scroll-image{

	text-align: center;

}

.test{

	width: 60%;
	height: auto;
	position: absolute;

left: 20%;
top:9%;
}

#top-bar{
	width: 60%;
	height: auto;
	position: absolute;

left: 20%;
top:5%;
z-index: 99999;

}

@media (orientation: portrait){

#top-bar{
	width: 80%;
	left: 10%;
	top:7%;



}
.test{

width: 80%;
left: 10%;

}

}
